html.light-mode{
  --primary-text-color: #3c3c3c;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f6f6f6;
  --primary-border-color: #ddd;
}

html.dark-mode {
  --primary-text-color: #F1F2F4;
  --primary-bg-color: #101214;
  --secondary-bg-color: #161A1D;
  --primary-border-color: #F1F2F4;
}